.big-review-card.card {
  padding: 0;
}

.big-review-img.card-img-top {
  border-radius: 1rem;
  height: fit-content;
  width: auto;
}

.big-review-card.card > .card-body {
  padding: 1rem;
}

@media screen and (min-width: 980px) {
  .big-review-card.card {
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    max-height: fit-content;
    min-width: 100%;
  }
  .big-review-card.card > .card-body {
    padding: 2rem;
  }
}

.comment-icon {
  color: #878787;
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  position: relative;
  font-size: 1.5rem;
  background: url("../assets/icons/comment.svg") no-repeat center;
  background-size: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.comment-button {
  border: 2px solid #c7c7c7;
  border-radius: 0.5rem;
  padding: 0.45rem 0.75rem;
  color: #878787;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: grayscale(100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
}
